<div id="<%= dom_id human %>">
  <p>
    <strong>Name:</strong>
    <%= human.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= human.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= human.gender %>
  </p>

</div>
